@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    max-height: 100%;
    background: url(../img/14.jpg)no-repeat center/cover;
}

