@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    max-height: 100vh;
}

.faq {
    background-color: #00403B;
    height: 100%;
    color: #fff;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: orangered;
}



